.header {
  position: fixed;
  right: 30px;
  top: 28px;
  .menu {
    width: 500px;
    height: 450px;
    transform: translateX(-47px) translateY(13px);
    position: relative;
    background-color: #df4894;
    border-radius: 25px;
  }

  @media screen and (max-width: 400px) {
    /* Custom dimensions for screens up to 767px width */
    .menu {
      width: 100px;
      /* Adjust as needed based on your design */
    }
  }
}
