@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --orange-color: #ffa500;
  --white-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@media (min-width: 1440px) {
  .sun-media {
    object-fit: fill;
  }
}

@media (max-width: 1440px) {
  .absolute {
    object-fit: cover;
  }
}

body {
  font-family: "Open Sans";
}

@layer utilities {
  .btn-blue {
    @apply bg-transparent border-[3px] border-secondary font-semibold text-secondary text-md px-8 py-4 rounded-full cursor-pointer hover:bg-quaternary hover:border-quaternary hover:text-white transition-all duration-300;
  }
  .btn-pink {
    @apply bg-transparent border-[3px] border-quaternary font-semibold text-quaternary text-md px-8 py-4 rounded-full cursor-pointer hover:bg-quaternary hover:border-quaternary hover:text-white transition-all duration-300;
  }
}

.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after,
.is-active .hamburger-inner,
.is-active .hamburger-inner::before {
  background-color: #d11141 !important;
  color: #d11141 !important;
}
