@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 949px) {
  #dropdown {
    display: block; /* or any other style you want for smaller screens */
  }
}
@media screen and (min-width: 950px) {
  #dropdown {
    display: none; /* hide the hamburger when width is greater than 835px */
  }
}

body {
  font-family: "Open Sans";
  background-color: #feefdd;
}

@layer utilities {
  .btn-blue {
    @apply bg-transparent border-[3px] border-secondary font-semibold text-secondary text-md text-center px-8 py-4 rounded-full cursor-pointer hover:bg-quaternary hover:border-quaternary hover:text-white transition-all duration-300 min-w-[192px] hover:-translate-y-[2px] hover:shadow-lg active:translate-y-[-1px] active:shadow-md;
  }
  .btn-blue-fill {
    @apply bg-secondary border-[3px] border-secondary font-semibold text-white text-md text-center px-8 py-4 rounded-full cursor-pointer hover:bg-quaternary hover:border-quaternary hover:text-white transition-all duration-300 min-w-[192px] hover:-translate-y-[2px] hover:shadow-lg active:translate-y-[-1px] active:shadow-md;
  }
  .btn-blue-white {
    @apply bg-transparent border-[3px] border-white font-semibold text-white text-md text-center px-8 py-4 rounded-full cursor-pointer hover:bg-quaternary hover:border-quaternary hover:text-white transition-all duration-300 min-w-[192px] hover:-translate-y-[2px] hover:shadow-lg active:translate-y-[-1px] active:shadow-md;
  }
  .btn-pink {
    @apply bg-transparent border-[3px] border-quaternary font-semibold text-center text-quaternary text-md px-8 py-4 rounded-full cursor-pointer hover:bg-quaternary hover:border-quaternary hover:text-white transition-all duration-300 min-w-[192px] hover:-translate-y-[2px] hover:shadow-lg active:translate-y-[-1px] active:shadow-md;
  }
  .btn-pink-fill {
    @apply bg-quaternary border-[3px] border-quaternary font-semibold text-white text-md text-center px-8 py-4 rounded-full cursor-pointer  transition-all duration-300 min-w-[192px] hover:bg-[#B32360] hover:border-[#B32360] hover:-translate-y-[2px] hover:shadow-lg active:translate-y-[-1px] active:shadow-md;
  }
}

.hamburger {
  position: relative;
  width: 35px;
  height: 24px;
  cursor: pointer;
}

.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
  background-color: #467ad4;
  display: flex;

  width: 35px;
  height: 4px;
  position: absolute;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger .hamburger-inner {
  top: 23px;
  left: 17.5px;
}

.hamburger .hamburger-inner::before {
  content: "";
  top: -10px;
}

.hamburger .hamburger-inner::after {
  content: "";
  top: 10px;
}

/* Active state styling */
.is-active .hamburger-inner {
  background-color: transparent;
}

.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.is-active .hamburger-inner::after {
  transform: rotate(-45deg) translate(6px, -8px);
}

.hamburger:hover {
  opacity: 1 !important;
}

.card-team {
  align-items: center;
  position: relative;
  justify-items: center;
  transition: all 0.3s linear;
  transform-style: preserve-3d;
  border-radius: 25px;
}

.front,
.back {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  position: absolute;
}

.front {
  background: linear-gradient(white, white);
  z-index: 2;
  backface-visibility: hidden;
}

.back {
  background: linear-gradient(white, white);
  z-index: 1;
  transform: rotateY(180deg);
}

.container {
  perspective: 1000px;
}

@media (min-width: 834px) {
  .sub-container:hover .card-team {
    cursor: pointer;
    transform: rotateY(180deg);
  }
}
@media (max-width: 834px) {
  .sub-container .card-team.flipped {
    cursor: pointer;
    transform: rotateY(180deg);
  }
}

.card-landing {
  align-items: center;
  position: relative;
  justify-items: center;
  transform-style: preserve-3d;
  border-radius: 25px;
}

.long-text {
  max-height: 0;
  overflow: hidden;
  display: block;
  transition: max-height 0.3s;
}

.expanded {
  max-height: 120rem;
  transition: max-height 2s;
}
