$breakpoint-xs-width: 742px;
$breakpoint-xs-width: 743px;
$breakpoint-s-min-width: 744px;
$breakpoint-s-width: 1023px;
$breakpoint-m-min-width: 1024px;
$breakpoint-m-width: 1511px;
$breakpoint-l-min-width: 1512px;
$breakpoint-l-width: 2500px;

@mixin extra-small-break {
  @media (max-width: #{$breakpoint-xs-width}) {
    @content;
  }
}

@mixin small-break {
  @media (max-width: #{$breakpoint-s-width}) {
    @content;
  }
}

@mixin mid-break {
  @media (max-width: #{$breakpoint-m-width}) and (min-width: #{$breakpoint-m-min-width}) {
    @content;
  }
}

@mixin large-break {
  @media (max-width: #{$breakpoint-l-width}) and (min-width: #{$breakpoint-l-min-width}) {
    @content;
  }
}
