@use "../../app/queries.scss";
@import "../../app/queries.scss";

.sectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 104px 72px;
  gap: 56px;
  @include small-break {
    flex-direction: column;
  }
  @include mid-break {
    padding: 104px 64px;
  }
  @include small-break {
    padding: 32px 48px;
  }
}

.storyContainer {
  text-wrap: pretty;
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 852px;
  @include large-break {
    gap: 32px;
  }
  @include mid-break {
    gap: 32px;
  }
  @include small-break {
    gap: 32px;
  }
  h1 {
    color: var(--secondary, #467ad4);
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    @include small-break {
      font-size: 32px;
    }
  }
  p:nth-child(2) {
    color: var(--Primary-Text, #2c2d31);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.96px;
    @include small-break {
      font-size: 20px;
    }
  }
  span {
    color: var(--Secondary, #467ad4);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.96px;
    padding-left: 3px;
    @include small-break {
      font-size: 20px;
    }
  }
  p:nth-child(3) {
    color: var(--Secondary-Text, #5c5d6d);
    font-size: 20px;
    font-weight: 400;

    @include small-break {
      font-size: 16px;
    }
  }
}

.imageContainer {
  width: 435px;
  height: 507px;
  overflow: hidden;
  @include mid-break {
    width: 420px;
    height: 513px;
  }
  @include extra-small-break {
    width: 256px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
