@use "../../app/queries.scss";
@import "../../app/queries.scss";

.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 729px;
  @include mid-break {
    height: 700px;
  }
}
.imageContainer {
  min-height: 970px;
  max-height: 900px;
  @include mid-break {
    max-height: 700px;
  }
}
.image {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}

.CTAContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column-reverse;
  position: absolute;
  gap: 64px;

  padding: 64px 32px;
  @include large-break {
    flex-direction: row;
  }
}

.textContainer {
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-wrap: pretty;
  border-radius: 1.5rem;
  width: 100%;
  gap: 32px;
  padding: 32px;

  h1 {
    color: var(--Primary-Text, #2c2d31);
    font-weight: 400;
    line-height: normal;
    font-size: 32px;
    @include large-break {
      font-size: 40px;
    }
  }
  p {
    text-wrap: pretty;
    color: var(--Primary-Text, #2c2d31);
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    font-size: 20px;
    @include large-break {
      font-size: 24px;
    }
  }
}

.icon {
  z-index: 10;
  width: 256px;
  height: 266px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include mid-break {
    flex-direction: row;
  }
  @include large-break {
    flex-direction: row;
  }
}

.CTAContainerTeam {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column-reverse;
  padding: 48px 32px;
  gap: 32px;
  @include large-break {
    flex-direction: row-reverse;
    padding: 104px 72px;
    gap: 52px;
  }
}

.imageContainerTeam {
  border-radius: 25px;
  height: 295px;
  overflow: hidden;
  @include mid-break {
    height: 434px;
  }
  @include large-break {
    height: 465px;
    max-width: calc(50%);
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.textContainerTeam {
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-wrap: pretty;
  border-radius: 1.5rem;
  width: 100%;
  gap: 32px;
  padding: 32px;
  @include large-break {
    padding: 70px;
    max-width: calc(50%);
  }
  h1 {
    color: var(--Primary-Text, #2c2d31);
    font-weight: 400;
    line-height: normal;
    font-size: 32px;
    @include large-break {
      font-size: 40px;
    }
  }
  p {
    text-wrap: pretty;
    color: var(--Secondary-Text, #5c5d6d);
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    font-size: 20px;
    @include large-break {
      font-size: 24px;
      letter-spacing: -0.96px;
    }
  }
}
