@use "../../app/queries.scss";
@import "../../app/queries.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  @include large-break {
    flex-direction: row;
    gap: 4rem;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1.875rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    }
    min-width: 100%;
    @media (min-width: 1071px) {
      min-width: 912px;
    }
    @include large-break {
      min-width: 654px;
      min-height: 490px;
    }
    img {
      border-radius: 1.875rem;
      transition: all 0.3s ease-in-out;
      height: auto;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    gap: 2rem;
    background-color: white;
    border-radius: 1.875rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 100%;

    @media (min-width: 1071px) {
      max-width: 912px;
    }

    @include mid-break {
      padding: 2rem 2rem;
      gap: 1.5rem;
    }

    @include large-break {
      max-width: 650px;
      min-height: 490px;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      color: $text-primary;

      @include mid-break {
        font-size: 2rem;
      }
    }

    h2 {
      font-size: 2rem;
      color: $text-primary;
      @include mid-break {
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 1rem;
      color: $text-secondary;
    }
  }
}
