@use "../../app/queries.scss";
@import "../../app/queries.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  @include large-break {
    flex-direction: row;
    gap: 4rem;
    justify-content: flex-start;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mid-break {
      max-width: 912px;
    }

    @include large-break {
      // flex: 1;

      flex-basis: 50%;
      width: 654px;
      // height: 490px;
    }

    img {
      border-radius: 1.875rem;
      width: 100%;
      height: 430px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      @include large-break {
        width: 654px;

        height: 480px;
      }

      @include small-break {
        width: 100%;
        height: 316px;
      }

      @include extra-small-break {
        width: 100%;
        height: 208px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    gap: 2rem;
    background-color: white;
    border-radius: 1.875rem;
    max-width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    @media (min-width: 1071px) {
      max-width: 912px;
    }

    @include mid-break {
      padding: 2rem 2rem;
      gap: 1.5rem;
    }

    @include large-break {
      flex-basis: 50%;
      max-width: 650px;
      min-height: 480px;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      color: $text-primary;

      @include mid-break {
        font-size: 2rem;
      }
    }

    h2 {
      font-size: 2rem;
      color: $text-primary;
      @include mid-break {
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 16px;
      color: $text-secondary;
      text-wrap: pretty;
      @include large-break {
        font-size: 20px;
      }
    }
  }
  .arrowContainer {
    display: flex;
    justify-content: end;
    transform: translateY(20px);
    gap: 32px;
  }
  .arrowWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    @include mid-break-arrow {
      flex-direction: column-reverse;
      align-items: stretch;
      gap: 16px;
    }

    @include extra-small-break {
      gap: 24px;
    }
  }
}
