@use "../../app/queries.scss";
@import "../../app/queries.scss";

.cardContainer {
  // background-color: pink;
  // max-height: max-content;
  // height: 350px;
  min-height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 80px;
  margin-top: 20px;

  // transform: translateY(10px);
  // perspective: 2000px;
  .card {
    margin-top: 25px;
    // margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 32px;
    // margin: 25px 0 10px;

    h1 {
      color: var(--Primary-Text, #2c2d31);
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      // @media (min-width: 470px) {
      //   padding-bottom: 24px;
      // }
    }
  }
}

.cardFlipped {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: fit-content;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

// .firstCard {
//   margin-top: 80px;
// }
.secondCard {
  margin-top: 50px;
}

.card-landing {
  // border: red 2px solid;
  align-items: center;
  position: relative;
  justify-items: center;
  /* transition: all 0.4s linear; */
  transform-style: preserve-3d;
  border-radius: 50px;
}
.card-landing:hover {
  transform: rotateY(180deg);
}
.mobile-front {
  background: linear-gradient(white, white);
  z-index: 2;
  backface-visibility: hidden;
}
