@use "../../app/queries.scss";
@import "../../app/queries.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0 70px;
  @include mid-break {
    gap: 32px;
    padding: 0 32px;
  }
  @include small-break {
    gap: 32px;
    padding: 0 32px;
  }
  @include custom-break-470 {
    display: none;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24;
  padding: 0 64px;
  height: 412px;
  width: 368px;
  @include mid-break {
    padding: 0 40px;
  }
  @include small-break {
    padding: 0 40px;
  }
}

.cardFront {
  display: flex;
  flex-direction: column;
  gap: 24px;
  h1 {
    font-size: 32px;
    font-weight: 700;
  }
}

.cardBack {
  padding: 24px;
  overflow: hidden;
  p {
    z-index: 10;
    font-size: 24px;
    display: flex;
    text-align: center;

    align-items: center;
    background-color: white;
    padding: 40px 24px;
    border-radius: 9999px;
    letter-spacing: 0.96px;
    height: 325px;
  }
}
