@use "../../app/queries.scss";
@import "../../app/queries.scss";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  gap: 32px;
  background-color: #e3712e;
  max-width: fit-content;
  padding: 32px;
  margin: 48px 32px;
  @include mid-break {
    padding: 40px 32px;
    max-width: 650px;
  }

  h1 {
    color: var(--White-Base, #fff);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  p {
    color: var(--White-Base, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
  }
  span {
    color: var(--White-Base, #fff);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
