@use "../../app/queries.scss";
@import "../../app/queries.scss";

.header {
  color: var(--Primary-Text, #2c2d31);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 80px;
  @media (min-width: 745px) and (max-width: 1279px) {
    padding-bottom: 64px;
  }
  @media (min-width: 470px) and (max-width: 744px) {
    padding-bottom: 24px;
  }
  @media (max-width: 469px) {
    padding-bottom: 0;
  }
}
