.cardContainer {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 30px;
  perspective: 1000px;

  .card {
    margin-top: 30px;
    width: 329px;
    height: 368px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  }
}

.card-landing {
  align-items: center;
  position: relative;
  justify-items: center;
  /* transition: all 0.4s linear; */
  transform-style: preserve-3d;
  border-radius: 25px;
}
.card-landing:hover {
  transform: rotateY(180deg);
}
.mobile-front {
  background: linear-gradient(white, white);
  z-index: 2;
  backface-visibility: hidden;
}
